In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\jypark\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: numpy in c:\users\jypark\anaconda3\lib\site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: wheel in c:\users\jypark\anaconda3\lib\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\jypark\anaconda3\lib\site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: scipy in c:\users\jypark\anaconda3\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\jypark\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jypark\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import lightgbm as lgb

In [3]:
total = pd.read_csv('./data/한국가스공사_시간별 공급량_20181231.csv', encoding='cp949')

In [4]:
total.head()

          연월일  시간 구분       공급량
0  2013-01-01   1  A  2497.129
1  2013-01-01   2  A  2363.265
2  2013-01-01   3  A  2258.505
3  2013-01-01   4  A  2243.969
4  2013-01-01   5  A  2344.105

In [5]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연월일     368088 non-null  object
 1   시간      368088 non-null  int64
 2   구분      368088 non-null  object
 3   공급량     368088 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.2+ MB

In [6]:
d_map = {}
for i, d in enumerate(total['구분'].unique()):
    d_map[d] = i
total['구분'] = total['구분'].map(d_map)

In [7]:
total["연월일"] = pd.to_datetime(total["연월일"])

In [8]:
total['year'] = total['연월일'].dt.year
total['month'] = total['연월일'].dt.month
total['day'] = total['연월일'].dt.day
total['weekday'] = total['연월일'].dt.weekday

In [9]:
total

              연월일  시간  구분       공급량  year  month  day  weekday
0      2013-01-01   1   0  2497.129  2013      1    1        1
1      2013-01-01   2   0  2363.265  2013      1    1        1
2      2013-01-01   3   0  2258.505  2013      1    1        1
3      2013-01-01   4   0  2243.969  2013      1    1        1
4      2013-01-01   5   0  2344.105  2013      1    1        1
...           ...  ..  ..       ...   ...    ...  ...      ...
368083 2018-12-31  20   6   681.033  2018     12   31        0
368084 2018-12-31  21   6   669.961  2018     12   31        0
368085 2018-12-31  22   6   657.941  2018     12   31        0
368086 2018-12-31  23   6   610.953  2018     12   31        0
368087 2018-12-31  24   6   560.896  2018     12   31        0

[368088 rows x 8 columns]

In [10]:
train_years = [2013,2014,2015,2016,2017]
val_years = [2018]

In [11]:
train = total[total['year'].isin(train_years)]
val = total[total['year'].isin(val_years)]

In [12]:
features = ['구분', 'month', 'day', 'weekday', '시간']
train_x = train[features]
train_y = train['공급량']

val_x = val[features]
val_y = val['공급량']

In [13]:
d_train = lgb.Dataset(train_x, train_y)
d_val = lgb.Dataset(val_x, val_y)

params = {
    'objective': 'regression',
    'metric':'mae',
    'seed':42
}

model = lgb.train(params, d_train, 500, d_val, verbose_eval=20, early_stopping_rounds=10)

C:\Users\jypark\anaconda3\lib\site-packages\lightgbm\engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
C:\Users\jypark\anaconda3\lib\site-packages\lightgbm\engine.py:240: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001259 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 84
[LightGBM] [Info] Number of data points in the train set: 306768, number of used features: 5
[LightGBM] [Info] Start training from score 934.864036
Training until validation scores don't improve for 10 rounds
[20]	valid_0's l1: 244.857
[40]	valid_0's l1: 174.855
[60]	valid_0's l1: 158.739
[80]	valid_0's l1: 153.323
[100]	valid_0's l1: 150.948
[120]	valid_0's l1: 150.463
Early stopping, best iteration is:
[112]	valid_0's l1: 150.297

In [14]:
test = pd.read_csv('data/test.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [15]:
test['일자'] = test['일자|시간|구분'].str.split(' ').str[0]
test['시간'] = test['일자|시간|구분'].str.split(' ').str[1].astype(int)
test['구분'] = test['일자|시간|구분'].str.split(' ').str[2]

In [16]:
test['일자'] = pd.to_datetime(test['일자'])
test['year'] = test['일자'].dt.year
test['month'] = test['일자'].dt.month
test['day'] = test['일자'].dt.day
test['weekday'] = test['일자'].dt.weekday

In [17]:
test['구분'] = test['구분'].map(d_map)

In [18]:
test_x = test[features]
preds = model.predict(test_x)
submission['공급량'] = preds
submission.to_csv('baseline.csv', index=False)